{{#if updatePostForm}}
  <div>
    <form>

      <div class="form-group">
        <label class="light-text"for="title">Title</label>
        {{input value=title id="title" type="string" placeholder=post.title}}
      </div>

      <div class="form-group">
        <label class="light-text" for="content">Content</label>
        {{textarea class="form-control"
         rows='3'
         value=content id="content"  placeholder=post.content}}
      </div>

      <button {{action 'update' post}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updatePostForm'}}>Update</button>
{{/if}}
